
body{
    background-color: #1B837c;
 
}


.navSize{
    font-size: 20px;
}
#img1 {
    border: 4px;
    border-radius: 10em;
}
.bio{
    padding-top: 170px;
}
.about-me{
    box-shadow: .4vw .4vw .8vw 1.2vw;
    background-color: white;
}
.img2{
    
    height: 20rem;
    width: 20rem;
}
 
.about-section{
   font-size: 20px;
}
h2{
    font-size: 80px;
}
.landing-page{
    height: 900px;
}
.icoon{
    width: 25rem;
}
.mycard{
    height:15rem ;
}
#Education,#About,#Testimonial,#Skills,#Projects,#Contacts {
    height: 800px;
}